# Dependencies
node_modules/

# Environment variables & secrets
.env
.env*
data/firebase_service_account.json

# Local runtime data & logs
data/*.json
*.log

# Vercel & Build outputs
.vercel/

# OS metadata
.DS_Store
Thumbs.db
